@charset "UTF-8";
@import "http://webfonts.ru/import/unisansac.css";
.fotorama__nav--dots {
  position: absolute;
  bottom: 0; }

.fotorama__dot {
  width: 26px;
  height: 26px;
  background-color: #FFF;
  border-radius: 0;
  margin: 0 5px; }

.fotorama__nav--dots .fotorama__nav__frame {
  width: 26px;
  height: 26px;
  margin: 0 5px; }

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 26px;
  height: 26px;
  border-color: #fff;
  background-color: #ff0111; }

.fotorama__nav.fotorama__nav--dots {
  position: absolute;
  top: 0;
  height: 50px;
  margin-top: 0; }

.fotorama__nav__shaft {
  float: right;
  margin-right: 30px; }

.modal-dialog {
  background-color: #fff;
  text-align: center;
  width: 450px; }
  .modal-dialog h1 {
    font-size: 30px;
    text-transform: uppercase; }

#callme, #thnx {
  background-color: rgba(65, 65, 70, 0.3); }

.modal-header {
  border-bottom: 0;
  padding: 35px 0; }
  .modal-header .close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff0111;
    background-image: url("../img/close.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: -45px -15px 0 0;
    opacity: 1;
    outline: none; }
  .modal-header .close:hover {
    background-color: derken(#ff0111, 15%); }
  .modal-header p {
    color: #2d2d2d;
    font-size: 20px; }
  .modal-header h1 {
    color: #2d2d2d;
    font-family: "OpenSans", sans-serif;
    font-size: 40px;
    font-weight: bold; }

.formPopup {
  width: 367px;
  height: 56px;
  border: 2px solid rgba(0, 0, 0, 0.06);
  background-color: #f8f8f8;
  margin-bottom: 10px;
  padding: 0 20px; }
  .formPopupText {
    width: 367px;
    height: 274px;
    border: 2px solid rgba(0, 0, 0, 0.06);
    background-color: #f8f8f8;
    margin-bottom: 10px;
    padding: 20px;
    resize: none; }
  .formPopupSub {
    display: block;
    margin: 0 auto;
    line-height: 43px;
    position: relative;
    height: 43px;
    width: 220px;
    background-color: #ff0111;
    border-bottom: 3px solid #4e3d42;
    text-align: center;
    color: #fdfdff;
    font-family: "Century-Gothic-Regular";
    font-size: 18px;
    border: none; }
    .formPopupSub:hover {
      text-decoration: none;
      background-color: #cd000d; }
    .formPopupSub:focus {
      text-decoration: none; }

* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Century-Gothic-Regular';
  src: url("../fonts/Century-Gothic-Regular.eot");
  src: url("../fonts/Century-Gothic-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Century-Gothic-Regular.woff") format("woff"), url("../fonts/Century-Gothic-Regular.ttf") format("truetype"), url("../fonts/Century-Gothic-Regular.svg#Century-Gothic-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1167px;
  background-color: #f6f6f6;
  font-family: 'Uni Sans'; }

.contain {
  width: 1167px;
  display: block;
  margin: 0 auto;
  position: relative; }
  .contain:before, .contain:after {
    display: table;
    content: " "; }
  .contain:after {
    clear: both; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

.blockTitle {
  text-align: center;
  color: #fdfdfe;
  font-size: 18px;
  margin-top: -15px;
  outline-color: #ff0111;
  outline: 0 10px; }
  .blockTitle span {
    display: block;
    line-height: 31px;
    margin: 0 auto;
    width: 318px;
    height: 31px;
    background-color: #ff0111;
    text-align: center;
    border: 10px solid #f6f6f6;
    border-top: 0;
    border-bottom: 0;
    -moz-box-sizing: border-box;
    /* ╨Ф╨╗╤П Firefox */
    box-sizing: border-box;
    /* ╨и╨╕╤А╨╕╨╜╨░ ╨▒╨╗╨╛╨║╨░ ╤Б ╨┐╨╛╨╗╤П╨╝╨╕ */ }

.red {
  color: #ff0111; }

.line {
  width: 100%;
  display: block;
  float: left; }

.internal_links {
  position: relative;
  top: -15px; }

.header {
  height: 150px;
  display: block;
  position: relative; }
  .header__logo {
    width: 20%;
    display: block;
    float: left;
    padding: 10px 0; }
    .header__logo a img {
      display: block;
      margin: 0 auto; }
  .header__nav {
    display: block;
    position: relative;
    width: 80%;
    float: left; }

.navMenu {
  padding: 35px 0;
  display: block;
  float: right; }
  .navMenu ul a {
    display: inline-block;
    width: 150px;
    height: 58px;
    line-height: 58px;
    padding: 0 10px;
    text-align: center; }
    .navMenu ul a li {
      display: inline-block;
      color: #414141;
      line-height: normal;
      text-transform: uppercase;
      vertical-align: middle;
      font-size: 16px;
      font-weight: 200; }
    .navMenu ul a:hover {
      background-color: #ff0111;
      text-decoration: none; }
      .navMenu ul a:hover li {
        text-decoration: none;
        color: #fefefe; }

.footer {
  display: block;
  height: 70px;
  background-color: #414146; }

.slider {
  margin: 0 0 40px 0;
  padding: 0;
  border-bottom: 3px solid #d9d0c0; }

.events {
  display: block;
  position: relative;
  border-top: 1px solid #cacaca;
  padding-bottom: 50px; }
  .events h1 {
    color: #414147;
    font-family: "Century-Gothic-Regular";
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px; }
  .events h4 {
    color: #414147;
    font-family: "Century-Gothic-Regular";
    font-size: 24px;
    text-align: center; }
  .events__block {
    display: block;
    position: relative;
    float: left;
    width: 250px;
    height: 285px;
    background-color: #ff0111;
    margin: 25px 20px;
    overflow: hidden; }
    .events__block--img {
      display: block;
      overflow: hidden;
      width: 100%;
      height: 100%; }
      .events__block--img img {
        margin: 0 auto;
        width: 100%; }
    .events__block--desc {
      display: none;
      position: absolute;
      bottom: 0;
      height: 85px;
      width: 100%;
      background-color: #414145;
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear;
      padding: 5px 15px; }
      .events__block--desc:before {
        content: '';
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 15px solid #414145;
        top: -14px;
        right: 20px;
        position: absolute; }
      .events__block--desc h3 {
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 5px; }
      .events__block--desc a {
        color: #fafaf3;
        font-family: "Century-Gothic-Regular";
        font-size: 10px;
        display: block;
        text-align: right;
        display: block;
        float: left;
        position: absolute;
        right: 10px;
        bottom: 10px; }
        .events__block--desc a:hover {
          color: #fafaf3; }
    .events__block:hover .events__block--desc {
      display: inline-block; }

.livemusic, .concerts {
  display: block;
  position: relative;
  border-top: 1px solid #cacaca;
  background: url("../img/Shape-1.png") no-repeat;
  background-position: 50% 0;
  background-repeat: no-repeat;
  margin-bottom: 75px;
  height: 525px;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .livemusic .blockTitle span, .concerts .blockTitle span {
    border: 0; }
  .livemusic__mic {
    display: inline-block;
    float: left;
    width: 33%;
    height: 631px;
    margin-top: -60px;
    background-image: url("../img/karaokemic.png");
    background-repeat: no-repeat;
    background-position: 100% 100%; }
  .livemusic__text {
    display: inline-block;
    position: relative;
    width: 60%;
    padding-left: 14%;
    margin-top: 100px;
    margin-bottom: 125px;
    background-image: url("../img/yellow-arrow.png");
    background-repeat: no-repeat;
    background-position: 7% 2%; }
    .livemusic__text h2 {
      color: #fefdfd;
      font-style: 22px;
      text-align: center;
      max-width: 910px;
      margin-top: 0; }

.celebrations {
  display: inline-block;
  width: 100%;
  position: relative;
  border-top: 1px solid #cacaca;
  padding-bottom: 50px; }
  .celebrations h2 {
    text-align: center;
    color: #414146;
    font-family: "Century-Gothic-Regular";
    font-size: 16px; }
  .celebrations__block {
    display: block;
    float: left;
    position: relative;
    width: 20%;
    margin: 40px 0; }
    .celebrations__block__img {
      display: block;
      float: left;
      position: relative;
      width: 100%; }
      .celebrations__block__img img {
        display: block;
        position: relative;
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 50%;
        border: 4px solid #fff;
        margin-bottom: 25px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(98, 50, 50, 0.85);
        -moz-box-shadow: 0px 0px 5px 0px rgba(98, 50, 50, 0.85);
        box-shadow: 0px 0px 5px 0px rgba(98, 50, 50, 0.85);
        z-index: 99;
        /* Floating Shadow Pseudoelement */ }
      .celebrations__block__img:after {
        content: '';
        display: block;
        position: absolute;
        left: 25%;
        top: 90px;
        width: 50%;
        height: 10px;
        background: transparent;
        border-radius: 128px/20px;
        box-shadow: 0 55px 30px black;
        z-index: 1; }
    .celebrations__block h4 {
      text-align: center;
      font-style: 18px;
      font-family: "Century-Gothic-Regular";
      text-transform: uppercase; }
    .celebrations__block__write {
      display: block;
      float: left;
      width: 100%;
      position: relative;
      background-image: url("../img/yellow-arrow2.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
      padding: 25px 0; }
      .celebrations__block__write a {
        display: block;
        margin: 0 auto;
        line-height: 43px;
        position: relative;
        height: 43px;
        width: 191px;
        background-color: #ff0111;
        border-bottom: 3px solid #4e3d42;
        text-align: center;
        color: #fdfdff;
        font-family: "Century-Gothic-Regular";
        font-size: 20px; }
        .celebrations__block__write a:hover {
          text-decoration: none;
          background-color: #cd000d; }
        .celebrations__block__write a:focus {
          text-decoration: none; }

.photografers {
  display: block;
  position: relative;
  border-top: 1px solid #cacaca;
  background: url("../img/Shape-1.png") no-repeat;
  background-position: 50% 0;
  background-repeat: no-repeat;
  margin-bottom: 75px;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .photografers .blockTitle span {
    border: 0; }
  .photografers h4 {
    display: block;
    padding: 0 20%;
    color: #fdfdfe;
    font-size: 18px;
    text-align: center;
    margin-top: 50px; }
  .photografers .zoomwall {
    width: 80%;
    max-width: 1000px;
    display: block;
    margin: 25px auto; }
  .photografers .arrow-left, .photografers .arrow-right {
    display: block;
    position: absolute;
    top: 35%;
    left: 5%;
    width: 110px;
    height: 40px;
    background-image: url("../img/yellow-arrowL.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain; }
  .photografers .arrow-right {
    left: inherit;
    right: 5%;
    background-image: url("../img/yellow-arrowR.png"); }

.rent {
  display: inline-block;
  width: 100%;
  position: relative;
  border-top: 1px solid #cacaca;
  padding-bottom: 25px; }
  .rent__content {
    display: block;
    position: relative;
    width: 100%;
    height: 685px;
    background-image: url("../img/order-map.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    z-index: 1; }
    .rent__content p {
      color: #414146;
      font-family: "Century-Gothic-Regular";
      font-size: 14px;
      text-align: center;
      display: block;
      position: absolute;
      width: 195px;
      padding-top: 25px;
      background-image: url("../img/yellow-arrowL.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: 50px; }
    .rent__content__item1 {
      top: 145px;
      left: 25%; }
    .rent__content__item2 {
      top: 145px;
      right: 28%; }
    .rent__content__item3 {
      top: 50%;
      right: 28%; }
    .rent__content__item4 {
      bottom: 13%;
      left: 25%; }
    .rent__content__item5 {
      bottom: 13%;
      right: 28%; }
  .rent__leftBg {
    position: absolute;
    display: block;
    width: 269px;
    height: 408px;
    top: 55px;
    left: 60px;
    background-image: url("../img/3565807c5cf8.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 10; }
  .rent__rightBg {
    display: block;
    position: absolute;
    width: 380px;
    height: 464px;
    bottom: 90px;
    right: 0;
    background-image: url("../img/ozvuchka-compl2.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 10; }
  .rent__but {
    display: block;
    line-height: 43px;
    position: absolute;
    bottom: 30px;
    right: 8%;
    height: 43px;
    width: 191px;
    background-color: #ff0111;
    border-bottom: 3px solid #4e3d42;
    text-align: center;
    color: #fdfdff;
    font-family: "Century-Gothic-Regular";
    font-size: 20px; }
    .rent__but:hover {
      text-decoration: none;
      color: #fdfdff;
      background-color: #cd000d; }
    .rent__but:focus {
      text-decoration: none; }

.concerts {
  height: 400px; }
  .concerts__content {
    display: inline-block;
    float: left;
    width: 40%;
    padding-left: 5%;
    position: relative;
    margin: 125px 0; }
    .concerts__content h2 {
      color: #fefdfd;
      font-size: 26px !important;
      text-align: center;
      margin-top: 0;
      font-family: "Century-Gothic-Regular";
      text-transform: uppercase;
      line-height: 40px; }
    .concerts__content__but {
      width: 100%;
      display: block;
      padding: 15px 0; }
      .concerts__content__but a {
        display: block;
        margin: 0 auto;
        line-height: 43px;
        height: 43px;
        width: 191px;
        background-color: #ff0111;
        text-align: center;
        color: #fdfdff;
        font-family: "Century-Gothic-Regular";
        font-size: 20px; }
        .concerts__content__but a:hover {
          text-decoration: none;
          color: #fdfdff;
          background-color: #cd000d; }
        .concerts__content__but a:focus {
          text-decoration: none; }
  .concerts__posters {
    display: inline-block;
    width: 60%;
    padding-left: 5%;
    position: relative; }
    .concerts__posters--one {
      position: relative;
      z-index: 9;
      display: inline-block;
      float: left;
      height: 375px;
      width: 375px;
      margin-top: 5%;
      border-radius: 50%;
      border: 4px solid #fff;
      background-image: url("../img/HnJvEr6ztPo.jpg");
      background-position: 50% 6%; }
    .concerts__posters--two {
      position: relative;
      z-index: 0;
      display: inline-block;
      float: left;
      height: 400px;
      width: 400px;
      margin: -50px 0 0 -75px;
      border-radius: 50%;
      border: 4px solid #fff;
      background-image: url("../img/post2.png");
      background-position: 50% 0; }

.contacts {
  position: relative;
  width: 100%;
  height: 500px;
  display: inline-block;
  border-top: 1px solid #cacaca; }
  .contacts .blockTitle {
    position: relative;
    z-index: 9; }
    .contacts .blockTitle span {
      border: 0; }
  .contacts #map_canvas {
    margin-top: -25px;
    z-index: 1; }
  .contacts__info {
    position: absolute;
    z-index: 9;
    width: 400px;
    height: 150px;
    top: 10%;
    right: 5%;
    display: block;
    background: rgba(65, 65, 69, 0.3); }
    .contacts__info h2 {
      color: #000;
      font-size: 36px;
      text-align: center;
      font-family: "Century-Gothic-Regular";
      text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
