@charset "UTF-8";
@import "http://webfonts.ru/import/unisansac.css";
.fotorama__nav--dots {
  position: absolute;
  bottom: 0; }

.fotorama__dot {
  width: 26px;
  height: 26px;
  background-color: #FFF;
  border-radius: 0;
  margin: 0 5px; }

.fotorama__nav--dots .fotorama__nav__frame {
  width: 26px;
  height: 26px;
  margin: 0 5px; }

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 26px;
  height: 26px;
  border-color: #fff;
  background-color: #ff0111; }

.fotorama__nav.fotorama__nav--dots {
  position: absolute;
  top: 0; }

.fotorama__nav__shaft {
  float: right;
  margin-right: 30px; }

* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Century-Gothic-Regular';
  src: url("../fonts/Century-Gothic-Regular.eot");
  src: url("../fonts/Century-Gothic-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Century-Gothic-Regular.woff") format("woff"), url("../fonts/Century-Gothic-Regular.ttf") format("truetype"), url("../fonts/Century-Gothic-Regular.svg#Century-Gothic-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1167px;
  background-color: #f6f6f6;
  font-family: 'Uni Sans'; }

.contain {
  width: 1167px;
  display: block;
  margin: 0 auto; }
  .contain:before, .contain:after {
    display: table;
    content: " "; }
  .contain:after {
    clear: both; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

.blockTitle {
  text-align: center;
  color: #fdfdfe;
  font-size: 18px;
  margin-top: -15px;
  outline-color: #ff0111;
  outline: 0 10px; }
  .blockTitle span {
    display: block;
    line-height: 31px;
    margin: 0 auto;
    width: 318px;
    height: 31px;
    background-color: #ff0111;
    text-align: center;
    border: 10px solid #f6f6f6;
    border-top: 0;
    border-bottom: 0;
    -moz-box-sizing: border-box;
    /* ╨Ф╨╗╤П Firefox */
    box-sizing: border-box;
    /* ╨и╨╕╤А╨╕╨╜╨░ ╨▒╨╗╨╛╨║╨░ ╤Б ╨┐╨╛╨╗╤П╨╝╨╕ */ }

.header {
  height: 150px;
  display: block;
  position: relative; }
  .header__logo {
    width: 20%;
    display: block;
    float: left;
    padding: 10px 0; }
    .header__logo a img {
      display: block;
      margin: 0 auto; }
  .header__nav {
    display: block;
    position: relative;
    width: 80%;
    float: left; }

.navMenu {
  padding: 35px 0;
  display: block;
  float: right; }
  .navMenu ul a {
    display: inline-block;
    width: 150px;
    height: 58px;
    line-height: 58px;
    padding: 0 10px;
    text-align: center; }
    .navMenu ul a li {
      display: inline-block;
      color: #414141;
      line-height: normal;
      text-transform: uppercase;
      vertical-align: middle;
      font-size: 16px;
      font-weight: 200; }
    .navMenu ul a:hover {
      background-color: #ff0111;
      text-decoration: none; }
      .navMenu ul a:hover li {
        text-decoration: none;
        color: #fefefe; }

.slider {
  margin: 0 0 40px 0;
  padding: 0;
  border-bottom: 3px solid #d9d0c0; }

.events {
  display: block;
  position: relative;
  border-top: 1px solid #cacaca; }
  .events h1 {
    color: #414147;
    font-family: "Century-Gothic-Regular";
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px; }
  .events h4 {
    color: #414147;
    font-family: "Century-Gothic-Regular";
    font-size: 24px;
    text-align: center; }
  .events__block {
    display: block;
    float: left;
    width: 250px;
    height: 285px;
    background-color: #ff0111;
    margin: 25px 20px; }

/*# sourceMappingURL=style.css.map */
