.navMenu {
  padding: 35px 0;
  display: block;
  float: right;
  ul {
    a{
      display: inline-block;
      width: 150px;
      height: 58px;
      line-height: 58px;
      padding: 0 10px;
      text-align: center;
      li {
        display: inline-block;
        color: #414141;
        line-height: normal;
        text-transform: uppercase;
        vertical-align: middle;
        font-size: 16px;
        font-weight: 200;
      }
      &:hover {
        background-color: #ff0111;
        text-decoration: none;
        li{
          text-decoration: none;
          color: #fefefe;
        }
      }
    }
  }

}