.modal-dialog{
  background-color: #fff;
  text-align: center;
  width: 450px;
  
  h1 {
    font-size: 30px;
    text-transform: uppercase; 
  }
}

#callme{
  background-color: rgba(65, 65, 70, 0.3);
}

.modal-header {
  border-bottom: 0;
  padding: 35px 0;
  .close {    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $red;
    background-image: url("../img/close.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: -45px -15px 0 0;
    opacity: 1;
    outline: none;
  }
  .close:hover{
    background-color: derken($red, 15%)
  }
  p{
    color: #2d2d2d;
    font-size: 20px;

  }
  h1{
    color: #2d2d2d;
    font-family: "OpenSans", sans-serif;
    font-size: 40px;
    font-weight: bold;
  }

}
  

.formPopup {
  width: 367px;
  height: 56px;
  border: 2px solid rgba(0,0,0,.06);
  background-color: #f8f8f8;
  margin-bottom: 10px;
  padding: 0 20px;  

  &Text {
    width: 367px;
    height: 274px;
    border: 2px solid rgba(0,0,0,.06);
    background-color: #f8f8f8;
    margin-bottom: 10px;
    padding: 20px;
    resize: none;
  }

&Sub {
    display: block;
    margin: 0 auto;
    line-height: 43px;
    position: relative;
    height: 43px;
    width: 220px;
    background-color: $red;
    border-bottom: 3px solid #4e3d42;
    text-align: center;
    color: #fdfdff;
    font-family: $cent;
    font-size: 18px;
    border: none;
    &:hover {
      text-decoration: none;
      background-color: darken($red, 10%);
    }
    &:focus {
      text-decoration: none;
    }
  }
}
